<div class="row">
    <div class="col-sm-11">
        <h3 class="display-6">Attendance Report / {{attendance.name}} / {{attendance.attendanceDate | date: "longDate"}}</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Punch In</th>
                <th scope="col">Punch Out</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of attendanceEntries; let sn=index;">
                    <td>{{sn+1}}</td>
                    <td>{{entry.punchIn | date : "medium"}}</td>
                    <td>{{entry.punchOut | date : "medium"}}</td>
                    <td>{{entry.duration | attendanceDuration}}</td>
                    <td>{{entry.status | attendanceStatus}}</td>
                </tr> 
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total Duration</strong></td>
                    <td><strong>{{attendance.duration | attendanceDuration}}</strong></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>