<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h3>Employee Management System</h3></li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="btn btn-group">
        <a routerLink="/employee/view" class="btn btn-dark">Register</a>
      </div>
      <div class="btn btn-group">
        <a routerLink="/employee/list" class="btn btn-dark">Employee List</a>
      </div>  
      <div class="btn btn-group">
        <a routerLink="/attendance/report" class="btn btn-dark">Attendance Report</a>
      </div>
    </div>
  </div>    
  <hr />
</div>  
<div class="container"> 
  <div class="row">
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

